body {
    font-family: Arial, sans-serif;
    background-color: #33a0a8;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-family: 'Lilita One', sans-serif;
    font-size: 20px;
}

button{
    background-color: black;
    color: whitesmoke;
    font-size:large;
    font-weight: 200;
    font-family: 'lilita one';
    padding: 10px 20px;
    border-radius: 10px;
}