<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Love Calculator</title>
</head>
<body >
    <form action="/calculate" method="post">
        <label for="name1">Enter Name 1:</label>
        <input type="text" id="name1" name="name1"><br>

        <label for="name2">Enter Name 2:</label>
        <input type="text" id="name2" name="name2"><br>

        <input type="submit" value="Calculate Love Percentage">
    </form>
</body>
</html>
